@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #84E1AD;
    background-attachment: fixed;
    margin: 0px;
}
header{
    background-image: linear-gradient(to top, #063D1E, #248B53);
}
header > h1{
    text-align: center;
    font-family: 'Bebas Neue', 'cursive';
    font-size: 3em;
    height: 30px;
    padding: 35px;
    color: white;
    margin-top: 0px;
}
header > h3{
    text-align: center;
    font-family: 'Bebas Neue', 'cursive';
    font-size: 20px;
    height: auto;
    color: white;
    outline: 20px ;
    margin: 20px 0px;
    font-weight: lighter;
    padding-bottom: 20px;
}
nav{
    height: 30px;
    padding-top: 5px;
}
nav > a{
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
nav > a:hover{
    background-color: rgba(0, 161, 0, 0.74);
    /*não consegui fazer, foi triste*/
}
main{
    background-color: white;
    box-shadow: 0px 2px 2px 2px rgba(15, 15, 15, 0.493);
    padding: 10px 20px 5px 20px;
    max-width: 900px;
    margin: 0px auto 30px auto;
    border-radius: 0px 0px 15px 15px;
}
section{
    text-align: justify;
}
section > h1{
    font-family: 'idroid', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(1, 85, 1);
}
section > h2{
    background-color: rgba(68, 226, 68, 0.205);
    background-image: linear-gradient(to right, #84e1acd3, white);
    font-family: 'idroid', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(1, 85, 1, 0.877);
}
section > p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
p > a{
    text-decoration: none;
    background-color: #18fc7f6b;
}
p > a:hover{
    text-decoration: underline;
}
.droid{
    position: relative;
    width: 100%;
    float: left;
}
.droid img{
    width: 100%;
    height: 20%;
}
.irina{
    position: relative;
    width: 100%;
    height: 30%;
    float: left;
}
.irina img{
    width: 100%;
    height: 30%;
}
.bug{
    text-align: center;
    position: relative;
    width: 100%;
    float: left;
}
.bug img{
    width: auto;
    height: auto;
}
.video{
    display: flex;
    justify-content: center;
    background-color: #193C21;
}
.video iframe{
display: flex;
width: 100%;
margin: 10px 30px;
}
ul{
    column-count: 2;
}
.quadro > h3{
    color: white;
    background-color: #193C21;
    border-radius: 5px 5px 0px 0px;
    outline: 10px solid #193C21;
    height: auto;
    margin-top: 0px;
}
.quadro{
    background-color: #84e1ac8a;
    padding: 10px;
    border-radius: 15px; 
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
}
.quadro > main{
    background-color: #BCEFD2;
}
main > a{
    text-decoration: none;
}
main > a:hover{
    text-decoration: underline;
}
footer{
    color: white;
    text-align: center;
    background-color: #193C21;
    height: 20px;
    
}